{% trans_default_domain "illarra_admin" %}

<form action="{{ action }}" method="POST" {{ form_enctype(form) }} class="clean-section">
    {% if 'PUT' == method %}<input type="hidden" name="_method" value="PUT" />{% endif %}
    {{ form_rest(form) }}
    <hr />
    <p>
        <button class="t-save radius button" type="submit">{{ 'action.save'|trans }}</button>
    </p>
</form>
